<div class="haikubot">
  <div class="container">
    <div data-controller="haiku--haiku">
      <input
        type="text"
        data-haiku--haiku-target="input"
        data-action="keydown->haiku--haiku#addWord"
        placeholder="Type a word and press Enter"
      />

      <div data-haiku--haiku-target="pills" style="margin-top: 10px;"></div>

      <button
        data-haiku--haiku-target="button"
        class="generate-button hidden"
        data-action="click->haiku--haiku#generateHaiku"
      >
        Generate Haiku
      </button>
    </div>
  </div>
</div>
