<div class="flex-col">
  <h1 class="text-4xl font-bold">Welcome</h1>

  <div class="flex-row mt-6">
    <ul>
      <li class="sandbox-item">
        <%= link_to new_haiku_path, class: "button" do %>
          Generate a Haiku
        <% end %>
      </li>
    </ul>
  </div>
</div>
